<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevExpress_Componentes01.Properties.Settings.AdventureWorks2012ConnectionString"
            connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />

      <add name ="LocalHost" connectionString="Data Source=PCWIN11P\DEVELOPER;Initial Catalog=UsersManagement;Integrated Security=True"
           providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>