<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    
  </startup>
  
  <connectionStrings>
    <add name ="local_developer" connectionString="Data Source=PCWIN11P\DEVELOPER;Initial Catalog=BDTEST;Integrated Security=True" providerName="System.Data.SqlClient"  />
    <add name="DB_Northwind" connectionString="Data Source=PCWIN11P\DEVELOPER;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>